@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, dd, dl, dt, li, ol, ul,input,select,button,textarea { padding:0; margin:0; border:none;}
input,button,select,textarea,a,img{outline:none; }/*去掉超链接或按钮点击时出现的虚线框黄色边框*/
::-moz-focus-inner{border:0px;}/*火狐的私有属性去掉点击时边框*/
body {font-size:12px; width:100%;  font-family:"Microsoft YaHei","Arial", "SimSun";}
html{ width:100%;}
a img {	border:none;}
ul, ul li, ol li, li {	list-style:none;}
h1, h2, h3, h4, h5, h6{font-weight: normal;}
table {	border-collapse: collapse;border-spacing:0;}
input, textarea {border: 0;}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: ".";clear: both;height: 0;}
* html .clearfix {zoom: 1;}
*:first-child + html .clearfix {zoom: 1;}
.fl {	float:left;}
.fr {	float:right;}
.none{	display:none;}
i{font-style: normal;}
a{ /*cursor:pointer; */text-decoration:none;}
a:hover{text-decoration:none;}
.tx_over{display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
body{width:100%;  font: 400 14px/1.5 'Microsoft YaHei', 'Helvetica', 'Arial', 'sans-serif';}
/*导航 css S*/
.index-header-content{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 99;
    background: #fff;
    border-bottom: 1px solid #d8d8d8;
}
.index-header{
    width: 1200px;
    margin: 0 auto;

}
.index-logo{
    display: block;
    width: 133px;
    height: 80px;
    /* background: url(../../assets/images/login-icon.png) no-repeat -536px -702px; */
    /* background: url(../../assets/images/login-icon.png) no-repeat -536px -702px; */
}
.index-header .header-fr1{
    position: relative;
    padding:0 10px;
    margin-left: 10px;
    width: 48px;
    color: #333;
    font: normal 15px/80px "Microsoft YaHei";
    border: 1px solid transparent;
    border-bottom: none;
    border-top: none;
}
.index-header .header-fr1:hover{
    border: 1px solid #ccc;
    border-top: none ;
    border-bottom: #fff;
}
.cities{
    display: none;
    position: absolute;
    left: -1px;
    bottom: -332px;
    width: 460px;
    height: 330px;
    overflow-y:auto;
    border: 1px solid #ccc;
    border-top: 1px solid transparent;
    background: #fff;
}
.cities p{
    padding-left: 20px;
    height: 49px;
    line-height: 49px;
    border-bottom: 1px solid #ccc;
}
.cities-ul li{
    width: 460px;
    line-height: 30px;
}
.letter{
    margin-left: 20px;
    width: 20px;
    text-align: center;
    float: left;
    vertical-align: top;
    display: block;
    background-color: #eee;
    font-weight: 700;
    line-height: 20px;
    margin-top: 5px;
}
.letters{
    margin-left: 40px;
    display: block;
    margin-bottom: 10px
}
.letters a{
    display: inline-block;
    line-height: 24px;
    margin-top: 3px;
    padding: 0 5px;
    text-align: center;
    cursor: pointer;
    color: #333;
}
.letters a:hover{
    color: #fff;
    background: #ef4238;
}
.header-fr1:hover .cities{
    display: block;
}
.header-fr2{
    width: 320px;
    margin-left: 38px;
}
.header-fr2 ul li{
    float: left;
    font: normal 18px/80px "Microsoft YaHei";
    text-align: center;
}
.header-fr2 ul li a{
    display: block;
    width: 80px;
    height: 80px;
    color: #333;
    background-color: transparent;
}
.header-fr2 ul li .on{
    color: #fff;
    background-color: #ef4238;
}
.header-fr2 ul li a:hover{
    color: #ef4238;
}
.header-fr2 ul li .on:hover{
    color: #fff;
}
.header-fr3{
    position: relative;
    margin-top: 20px;
    width: 260px;
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    background: #faf8fa;


}
.header-fr3 input{
    width: 200px;
    height: 37px;
    padding-left: 20px;
    font-size: 13px;
    line-height: 37px;
    border-radius: 30px;
    -webkit-border-radius: 30px;

}

.header-fr3 .search-btn{
    display: inline-block;
    position: absolute;
    top: 0;
    right: -1px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: #ef4238;
    background-image: url(../../assets/images/index-search.png) ;
    background-repeat: no-repeat;
}
.header-fr4{
    position: relative;
    margin-left: 20px;
    width: 76px;
    height: 79px;
    border: 1px solid transparent;
    border-top: none;

}
.header-fr4 .head{
    position: absolute;
    display: inline-block;
    left: 10px;
    top: 20px;
    width: 40px;
    height: 40px;
}
.header-fr4 .head img{
    width:100%;
    height: 100%;
}
.header-fr4 .index-login{
    padding-right: 10px;
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 66px;
    height: 40px;
    color: #999;
    line-height: 40px;
    text-align: right;
    background: #fff;


}
.header-fr4:hover{
    height: 119px;
    border: 1px solid #ccc;
    border-top: none;
}
.header-fr4:hover .index-login{
    display: block;
    color: #999;


}
.header-fr4 .index-login:hover {
    color: #ef4238;
    text-decoration: underline;
}
/*导航 css E*/
/*footer css S*/
.footer{
    margin-top: 80px;
    padding-top: 55px;
    width: 100%;
    height: 95px;
    background: #262426;
    text-align: center;
}
.footer p{
    margin: 0 auto;
    line-height: 20px;
    font-size: 14px;
    color: #666;

}
/*footer css E*/


.triangle{
    position: absolute;
    display: block;
    width: 0;
    height: 5px;
    border: 5px solid transparent;
}
.triangle1{
    top: 40px;
    right: 10px;
    border-top: 5px solid #666;
}
.header-fr1:hover .triangle1,.header-fr4:hover .triangle1{
    top: 27px;   top: 40px\0;
    transition: all linear 0s;
    -webkit-transition: all linear 0s;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

/*首页 正在热映 即将上映  热播电影公共样式 s*/
.wrap-content{
    /*outline: 5px solid aqua;*/
}
.hot-play,.hot-play .all{
    color: #ef4238;
}
.advance,.advance .all{
    color: #409ef3;
}
.today .ry{
    color: #ef4238;
}
.rebo,.rebo .all{
    color: #ef4238;
}
.total,.total .all{
    color: #ef4238;
}
.wishes,.wishes .all{
color: #ffb400;
}
.order,.order .all{
    color: #ffb400;
}
.ry{
    font-size: 26px;
}
.all{
    padding-right: 12px;
    font-size: 14px;
    line-height: 39px;
}
.hot-play .all{
    background: url(../../assets/images/all.png) no-repeat center right
}
.advance .all{
    background: url(../../assets/images/blue-arrow.png) no-repeat center right
}
.rebo .all{
    background: url(../../assets/images/red-arrow.png) no-repeat center right
}
.total .all{
    background: url(../../assets/images/red-arrow.png) no-repeat center right
}
.wishes .all,.order .all{
    background: url(../../assets/images/yellow-arrow.png) no-repeat center right
}
.hot-play .all:hover,.advance .all:hover,.rebo .all:hover,.total .all:hover,.wishes .all:hover{
    text-decoration: underline;
}
/*电影类型D等级分类定位*/
.hot-ul li .d-classify,.rebo-l .d-classify ,.rebo-ul li .d-classify,.advance-ul li .d-classify{
    position: absolute;
    left: -2px;
    top: 4px;
    z-index: 3;

}

/*首页 正在热映 即将上映  热播电影公共样式 e*/
/*hover img and opacity 公用*/
/*.op_a{position:absolute;left:0; top:0; width:100%; height:100%;}*/
/*.op_a1{position:absolute;left:50%; top:50%; width:100%; height:100%;}*/
/*.op60{ background:url(../../assets/opa60.png);}*/
/*.op50{ background:url(../../assets/op50.png);}*/
/*.op40_i{ background:url(../../assets/op40.png);}*/
/*.opa_8{background:url(../../assets/w_opa80.png)}*/
/*.rgb4{ background:rgba(0,0,0,.4);  filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#40000000,endColorstr=#40000000); }*/
/*.rgb6{background-color:rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#99000000,endColorstr=#99000000);}*/
/*.optc{position:fixed!important; z-index:99; background:url(../../assets/op50.png);}*/
/*.animate_img{position:relative; overflow:hidden;}*/
/*.zoom_img{transform: scale(1.1); -webkit-transform: scale(1.1); -moz-transform: scale(1.1);}*/
/*.zoom_box>li:hover .op_a{opacity:1; filter:alpha(opacity=100);}*/
/*.zoom_box>li:hover .op50{opacity:1; filter:alpha(opacity=100);}*/
/*.zoom_box>li:hover .w_op80{opacity:1; filter:alpha(opacity=100);}*/
/*.zoom_box .op_a,.zoom_box .op_a1{text-align:center; opacity:0;  filter:alpha(opacity=0); }*/
/*.animate{-webkit-transition-duration: 0.3s;-moz-transition-duration: 0.3s;transition-duration: 0.3s;-o-transition-duration: 0.3s; -ms-transition-duration: 0.3;}*/























